/******** General ********/
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000000;
}

@media screen and (min-width: 900px) {

    body {
        min-width: 1053px;
    }

    .all_cards_fonctionnement {
        display: inline-flex;
        gap: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        justify-content: center;

        .card_fonctionnement {
            min-width: 15rem;
        }
    }

    .all_cards_restaurant {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        padding-bottom: 2rem;
    }

    footer {
        background-color: #353535;
        color: whitesmoke;
        padding: 2rem;
        display: flex;
        flex-direction: row-reverse;

        p {
            margin-right: 1rem;
        }

        .logo_white {
            margin-left: 2rem;
        }
    }
}


/******* Header *******/

header {
    display: flex;
    flex-direction: column;

    .logo_black {
        display: flex;
        font-family: 'Shrikhand', serif;
        padding: 8px;
        font-size: xx-large;
        align-self: center;
    }

    .logo_header {
        display: flex;
        z-index: 2;
        box-shadow: 4px 0px 15px -3px rgba(0, 0, 0, 0.99);
        justify-content: center;
    }

    .localisation {
        z-index: 1;
        display: inline-flex;
        background-color: #EAEAEA;
        padding: 1rem;
        gap: 1rem;
        color: #353535;
        justify-content: center;
        font-weight: 600;
        font-size: small;
    }

}

/******* Fonctionnement *******/

.button_explorer {
    display: flex;
    background: linear-gradient(180deg, rgb(250 117 255) 13%, rgb(172 79 203) 75%);
    box-shadow: -1px 6px 15px -7px #000000;
    border: none;
    border-radius: 30px;
    padding: 15px;
    max-width: fit-content;
    color: #ffffff;
    margin-bottom: 3rem;
    align-self: center;
    transition-duration: 400ms;
}

.button_explorer:hover {
    box-shadow: 0px 8px 20px -7px #000000;
    background: linear-gradient(180deg, rgb(252, 153, 255) 13%, rgb(178, 102, 203) 75%);
    transform: scale(1.1);
}


section {
    h3 {
        margin: 1rem;
    }
}


.bold {
    font-weight: bolder;
    font-size: x-large;
    margin: 18px 1rem -1rem 0rem;
}

.explorer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    background-color: #F6F6F6;
    align-items: center;

    p {
        display: flex;
        flex-direction: column;
        margin: 1rem 5rem;
    }
}

.fonctionnement {

    p {
        margin-left: 15px;
        margin-top: 5px;
    }

    .card_fonctionnement {
        display: flex;
        margin: 1rem 2rem;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: -2px 2px 7px -4px #000000;
        background-color: #F6F6F6;

        .number {
            height: 13px;
            width: 11px;
            position: relative;
            top: 2px;
            right: 24px;
            padding: 5px;
            border-radius: 50%;
            background-color: #9356DC;
            color: #ffffff;
            text-align: center;
            font-size: smaller;
        }

        i {
            position: relative;
            top: 6px;
        }
    }
}


/******* Restaurants *******/


h3 {
    display: flex;
    margin-right: 1rem;
    font-size: larger;
}

    .card_restaurant {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        overflow: hidden;
        margin: 1rem;
        border-radius: 10px;
        object-fit: cover;
        background-color: #ffffff;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 10rem;
            height: auto;
            display: block;
        }

        .texte_card_restaurant {
            display: flex;
            flex-direction: column;
            padding: 10px;

            i {
                display: flex;
                flex-direction: row-reverse;
            }

            button {
                border: none;
                background-color: transparent;
                position: relative;
                top: -20px;
                right: 20px;
            }
        }
    }

    .cards_restaurants {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        justify-content: center;
    }



/******* Footer *******/

.logo_white {
    font-family: 'Shrikhand', serif;
    margin-bottom: 1rem;
}

footer {
    background-color: #353535;
    color: whitesmoke;
    padding: 2rem;

    img {
        height: 20px;
        width: 120px;
        margin-bottom: 2rem;
    }

    i {
        margin-right: 7px;
    }

    p {
        margin-bottom: 5px;
    }

}