/******** General ********/
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000000;
}

/******* Header *******/

header {
    display: flex;
    flex-direction: column;

    img {
        max-width: 50%;
    }

    .img_ohmyfood {
        display: flex;
        z-index: 2;
        padding: 1rem 3rem;
        box-shadow: 0px -3px 12px 2px #000000;
    }

    .localisation {
        z-index: 1;
        display: inline-flex;
        background-color: #EAEAEA;
        padding: 1rem;
        gap: 1rem;
        color: #353535;
    }

    .bold {
        font-weight: bolder;
    }

    .explorer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        background-color: #F6F6F6;

        .button_explorer {
            display: flex;
            background: linear-gradient(151deg, rgba(252, 167, 255, 1) 13%, rgba(148, 83, 170, 1) 75%);
            box-shadow: -1px 6px 15px -7px #000000;
            border: none;
            border-radius: 15px;
            padding: 10px;
            max-width: fit-content;
            color: #ffffff;
            font-weight: 500;
            margin-bottom: 3rem;
        }

        p {
            margin: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
}

/******* Fonctionnement *******/

.fonctionnement {
    p {
        margin-left: 15px;
        margin-top: 5px;
    }

    .card_fonctionnement {
        display: flex;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: -1px 6px 15px -7px #000000;

        .number {
            position: relative;
            right: 10px;
            padding: 5px;
            border-radius: 30px;
            background-color: #9356DC;
            color: #ffffff;
        }
    }
}

/******* Restaurants *******/

h3 {
    display: flex;
    margin-right: 1rem;
    padding: 1rem;
    font-size: larger;
}

.card_restaurant {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 1rem;
    border-radius: 10px;
    object-fit: cover;
    background-color: #ffffff;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 10rem;
        height: auto;
        display: block;
    }

    .texte_card_restaurant {
        display: flex;
        flex-direction: column;
        padding: 10px;

        i {
            display: flex;
            flex-direction: row-reverse;
        }

        button {
            border: none;
            background-color: transparent;
            position: relative;
            top: -20px;
            right: 20px;
        }
    }
}

.cards_restaurants {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

/******* Footer *******/

footer {
    background-color: #353535;
    color: whitesmoke;
    padding: 2rem;

    p {
        margin-bottom: 1rem;
    }

    .logo_white {
        font-family: 'Shrikhand', serif;
    }

    img {
        height: 20px;
        width: 120px;
        margin-bottom: 2rem;
    }
}
