/******** General ********/
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000000;
}

header {
    .logo_black {
        display: flex;
        font-family: 'Shrikhand', serif;
        padding: 8px;
        font-size: xx-large;
        align-self: center;
    }
}


/******* Header *******/

header {
    display: flex;
    flex-direction: column;

    img {
        max-width: 50%;
    }

    .img_ohmyfood {
        display: flex;
        z-index: 2;
        padding: 1rem 3rem;
        box-shadow: 0px -3px 12px 2px #000000;
    }

    .localisation {
        z-index: 1;
        display: inline-flex;
        background-color: #EAEAEA;
        padding: 1rem;
        gap: 1rem;
        color: #353535;
        justify-content: center;
        font-weight: 600;
        font-size: small;
    }

}

/******* Fonctionnement *******/

.button_explorer {
    display: flex;
    background: linear-gradient(180deg, rgb(250 117 255) 13%, rgb(172 79 203) 75%);
    box-shadow: -1px 6px 15px -7px #000000;
    border: none;
    border-radius: 30px;
    padding: 15px;
    max-width: fit-content;
    color: #ffffff;
    margin-bottom: 3rem;
}


section {
    h3 {
        margin: 1rem;
    }
}


.bold {
    font-weight: bolder;
    font-size: x-large;
    margin: 18px 1rem -1rem 0rem;
}

.explorer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    background-color: #F6F6F6;

    p {
        display: flex;
        flex-direction: column;
        margin: 1rem 5rem;
    }
}




.fonctionnement {

    p {
        margin-left: 15px;
        margin-top: 5px;
    }

    .card_fonctionnement {
        display: flex;
        margin: 1rem;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: -1px 6px 15px -7px #000000;

        .number {
            height: 13px;
            width: 11px;
            position: relative;
            top: 2px;
            right: 24px;
            padding: 5px;
            border-radius: 50%;
            background-color: #9356DC;
            color: #ffffff;
            text-align: center;
            font-size: smaller;
        }

        i {
            position: relative;
            top: 6px;
        }
    }
}


/******* Restaurants *******/


h3 {
    display: flex;
    margin-right: 1rem;
    font-size: larger;
}

.card_restaurant {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 1rem;
    border-radius: 10px;
    object-fit: cover;
    background-color: #ffffff;

    img {
        object-fit: cover;
        width: 100%;
        max-height: 10rem;
        height: auto;
        display: block;
    }

    .texte_card_restaurant {
        display: flex;
        flex-direction: column;
        padding: 10px;

        i {
            display: flex;
            flex-direction: row-reverse;
        }

        button {
            border: none;
            background-color: transparent;
            position: relative;
            top: -20px;
            right: 20px;
        }
    }
}

.cards_restaurants {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}


/******* Footer *******/

.logo_white {
    font-family: 'Shrikhand', serif;
    margin-bottom: 1rem;
}

footer {
    background-color: #353535;
    color: whitesmoke;
    padding: 2rem;

    img {
        height: 20px;
        width: 120px;
        margin-bottom: 2rem;
    }

    i {
        margin-right: 7px;
    }

    p {
        margin-bottom: 5px;
    }

}