/******** General ********/
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

h2 {
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 900px) {
  body {
    min-width: 958px;
    margin: 0px;
  }
  .restaurant_menu {
    align-self: center;
    min-width: 60rem;
  }
  footer {
    background-color: #353535;
    color: whitesmoke;
    padding: 2rem;
    display: flex;
    flex-direction: row-reverse;
  }
  footer p {
    margin-right: 1rem;
  }
  footer .logo_white {
    margin-left: 2rem;
  }
}
/**********************************************************************/
header {
  display: flex;
  padding: 0.5rem;
}
header .logo_black {
  display: flex;
  margin: auto;
  font-family: "Shrikhand", serif;
  font-size: xx-large;
}
header a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.button_explorer {
  display: flex;
  background: linear-gradient(180deg, rgb(250, 117, 255) 13%, rgb(172, 79, 203) 75%);
  box-shadow: -1px 6px 15px -7px #000000;
  border: none;
  border-radius: 30px;
  padding: 15px;
  max-width: fit-content;
  color: #ffffff;
  margin-bottom: 3rem;
  align-self: center;
  transition-duration: 400ms;
  font-weight: 400;
}

.button_explorer:hover {
  box-shadow: 0px 8px 20px -7px #000000;
  background: linear-gradient(180deg, rgb(252, 153, 255) 13%, rgb(178, 102, 203) 75%);
  transform: scale(1.1);
}

/******** Restaurant ********/
.titre_restaurant h1 {
  font-family: "Shrikhand", serif;
  display: flex;
  justify-content: center;
  padding: 7px;
  margin: 1rem;
}

.image_restaurant img {
  z-index: 1;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.part_menu {
  display: flex;
  flex-direction: column;
}

.card_plat {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: -1px 6px 15px -7px #000000;
  margin: 1rem;
  max-height: 5rem;
  position: relative;
  padding: 15px;
}
.card_plat .ligne_card_plat {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.card_plat .ligne_card_plat span {
  font-weight: bold;
  margin-right: 1rem;
}
.card_plat .ligne_card_plat .animation_check_in {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.card_plat .ligne_card_plat .animation_check_in i {
  color: #f6f6f6;
  align-self: center;
  padding: 1.5rem;
}
.card_plat .ligne_card_plat h3,
.card_plat .ligne_card_plat p {
  padding: 5px 10px 10px;
  font-weight: 200;
}
.card_plat:hover .animation_check_in {
  width: 4rem;
}

.restaurant_menu {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}

.part_menu {
  margin-bottom: 3rem;
}

.menu {
  display: flex;
  flex-direction: column;
}

/******* Footer *******/
.logo_white {
  font-family: "Shrikhand", serif;
  margin-bottom: 1rem;
}

footer {
  background-color: #353535;
  color: whitesmoke;
  padding: 2rem;
}
footer img {
  height: 20px;
  width: 120px;
  margin-bottom: 2rem;
}
footer i {
  margin-right: 7px;
}
footer p {
  margin-bottom: 5px;
}

/*# sourceMappingURL=pages_style.css.map */
